body {
    background-color: #ffffff;
}

/* autocomplete-list-core.css ****************************************************/
.pure-aclist {
    position: absolute;
    z-index: 1;
}

.pure-aclist-hidden { visibility: hidden; }

.pure-aclist-aria {
    /* Hide from sighted users, show to screen readers. */
    left: -9999px;
    position: absolute;
}

.pure-aclist-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.pure-aclist-item {
    cursor: pointer;
    list-style: none;
    padding: 0.31em 1.06em;
}

.pure-aclist-item-active { outline: #afafaf dotted thin;
}

/* autocomplete-list-skin.css   (sam) ****************************************************/
.pure-skin-irshad .pure-aclist-content {
    background-color: #fcf0ee;
    border: solid 1px #fae4e1;
    color: #862818;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
}

.pure-skin-irshad .pure-aclist-item-hover {
    background-color: #f7d5cf;
    color: #5c1b10;
}

.pure-skin-irshad .pure-aclist-item-active {
    background-color: #f2c5ba;
    color: #040201;
    outline: none;
}

.pure-skin-irshad .pure-button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.62em 2.12em 0.7em; /*0.4em 1em 0.45em;*/
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    /* Presentation */
    /*color: #444;  rgba not supported (IE 8) */
    /*color: rgba(0, 0, 0, 0.80);  rgba supported */
    /**color: #444;  IE 6 & 7 */
    color: #ffffff !important;
    /*border: 1px solid #999;  IE 6/7/8*/
    /*border: none rgba(0, 0, 0, 0);  IE9 + everything else*/
    /*border: solid 1px;
    border-color: #f9e6e1 #edb0a1 #edb0a1 #f9e6e1;

   /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
    background: background:    -moz-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 251, 251, 0.3)), color-stop(49%, rgba(242, 197, 186, 0)), color-stop(51%, rgba(242, 197, 186, 0)), color-stop(100%,rgba(226, 129, 105, 0.3)));
    background: -webkit-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );*/
    background-color: #fc4b24;

    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 9px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 2px rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 2px rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);
    box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 2px rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);

    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}


.pure-skin-irshad .single-rounded{
	border-radius: 0px 9px 9px 0px !important;
	
	}



.pure-skin-irshad a.pure-button {
    color: #40170c;
    text-decoration:none;
}

.pure-skin-irshad a.pure-button-selected {
    color: #050100;
    text-decoration:none;
}

.pure-skin-irshad .pure-button-hover,
.pure-skin-irshad .pure-button:hover {
   /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#26000000', GradientType=0);
    background: background:    -moz-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 251, 251, 0.3)), color-stop(49%, rgba(242, 197, 186, 0)), color-stop(51%, rgba(242, 197, 186, 0)), color-stop(100%,rgba(226, 129, 105, 0.3)));
    background: -webkit-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );*/
    background-color: #fc4b24;;
    color: #0d0503;
}

.pure-skin-irshad .pure-button-active,
.pure-skin-irshad .pure-button:active {
    border: inset 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#26000000', GradientType=0);
    background: background:    -moz-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 251, 250, 0.3)), color-stop(49%, rgba(252, 75, 36, 0)), color-stop(51%, rgba(252, 75, 36, 0)), color-stop(100%,rgba(171, 33, 3, 0.3)));
    background: -webkit-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #fc4b24;
    color: #050100;


    -webkit-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 4px rgba(0,0,0, 0.30) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 4px rgba(0,0,0, 0.30) inset;
    box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 4px rgba(0,0,0, 0.30) inset;
}

.pure-skin-irshad .pure-button[disabled],
.pure-skin-irshad .pure-button-disabled,
.pure-skin-irshad .pure-button-disabled:hover,
.pure-skin-irshad .pure-button-disabled:active {
    cursor: default;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=55);
    -khtml-opacity: 0.55;
    -moz-opacity: 0.55;
    opacity: 0.55;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset;
    box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset;

    background-color: #f2c5ba;
    color: #40170c;


}

/* Firefox: Get rid of the inner focus border */
.pure-skin-irshad .pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

/* Firefox: Add a border around a focused button */
.pure-skin-irshad .pure-button:-moz-focusring {
    outline: thin dotted;
}


.pure-skin-irshad .pure-button-primary,
.pure-skin-irshad .pure-button-selected {
    background-color: #fc4b24;
    color: #ffffff;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    border-color: #fd7b5e #fb3104 #fb3104 #fd7b5e;
}

.pure-skin-irshad .pure-button-primary:hover,
.pure-skin-irshad .pure-button-selected:hover {
    background-color: #fb3104;
    color: #fffbfa;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
}


.pure-skin-irshad .pure-sam .pure-button:-moz-focusring {
    outline-color: rgba(0, 0, 0, 0.85);
}


.pure-skin-irshad .pure-night .pure-button:-moz-focusring {
    outline-color: rgba(255, 255, 255, 0.85);
}
.pure-skin-irshad .pure-calendar-content {
    padding: 1.56em 2.12em 2.34em;
    border-radius: 8px;
    background:    -moz-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(252, 240, 238, 0) 49%, rgba(252, 240, 238, 0) 51%, rgba(240, 183, 173, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 251, 251, 0.3)), color-stop(49%, rgba(252, 240, 238, 0)), color-stop(51%, rgba(252, 240, 238, 0)), color-stop(100%,rgba(240, 183, 173, 0.3)));
    background: -webkit-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(252, 240, 238, 0) 49%, rgba(252, 240, 238, 0) 51%, rgba(240, 183, 173, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(252, 240, 238, 0) 49%, rgba(252, 240, 238, 0) 51%, rgba(240, 183, 173, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(252, 240, 238, 0) 49%, rgba(252, 240, 238, 0) 51%, rgba(240, 183, 173, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(254, 251, 251, 0.3) 0%, rgba(252, 240, 238, 0) 49%, rgba(252, 240, 238, 0) 51%, rgba(240, 183, 173, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #fcf0ee;
    color: #862818;
    border: solid 1px;
    border-color: #fefbfb #fae4e1 #fae4e1 #fefbfb;
}

.pure-skin-irshad .pure-calendar-grid {
    padding: 5px;  /* any affect? */
    border-collapse: collapse;
}

.pure-skin-irshad .pure-calendar-header {
    padding-bottom:10px;
    color: #41140b;
}

.pure-skin-irshad .pure-calendar-header-label {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}


.pure-skin-irshad .pure-calendar-day,
.pure-skin-irshad .pure-calendar-prevmonth-day,
.pure-skin-irshad .pure-calendar-nextmonth-day {
    padding: 0.25em 0.34em 0.37em;
    text-align: center;
}




.pure-skin-irshad .pure-calendar-weekday {
    font-weight: bold;
    background: {{weekdayHeadBackground}};
    color: #862818;
}

.pure-skin-irshad .pure-calendar-prevmonth-day,
.pure-skin-irshad .pure-calendar-nextmonth-day {
    background: #fcf0ee;
    color: #e99181;
    border: solid 1px #f4c6be;
}

.pure-skin-irshad .pure-calendar-day {
    font-weight: bold;
    background: #f7d5cf;
    color: #5c1b10;
    border: solid 1px #f4c6be;
}
.pure-skin-irshad .pure-calendar-day:hover,         /* When cursor   is used to navigate days */
.pure-skin-irshad .pure-calendar-day-highlighted {  /* When keyboard is used to navigate days */
    background: #f0baad;
    color: #341209;
}

.pure-skin-irshad .pure-calendar-day-selected {
    background:    -moz-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 251, 250, 0.3)), color-stop(49%, rgba(252, 75, 36, 0)), color-stop(51%, rgba(252, 75, 36, 0)), color-stop(100%,rgba(171, 33, 3, 0.3)));
    background: -webkit-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #fc4b24;
    color: #050100;
}

.pure-skin-irshad .pure-calendar-day-selected:hover, /* When cursor hovers over selected days */
.pure-skin-irshad .pure-calendar-day-selected.pure-calendar-day-highlighted { /* When keyboard focuses over selected days */
    background-color: #fb3104;
    color: #fffbfa;
}

.pure-skin-irshad .pure-calendar-header-label {
    text-align: center;
}

.pure-skin-irshad .pure-calendar-left-grid {
   margin-right:1em;
}

.pure-skin-irshad .pure-calendar-right-grid {
   margin-left:1em;
}

.pure-skin-irshad .pure-calendar-selection-disabled,
.pure-skin-irshad .pure-calendar-selection-disabled:hover {
  color: #e99181;
  background: #fcf0ee;
}
/**************** the following from calendarnavigator.css ******************/
.pure-skin-irshad .pure-calendarnav-prevmonth, .pure-skin-irshad .pure-calendarnav-nextmonth {
  color: #000000;  /*falls back to text if image not rendered */
  width: 12px;
  height: 14px;
  background: transparent url(QzL4G1SMk5qpQg6psJMjVhNAgAEAH+qPqeiPEUsAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
}

.pure-skin-irshad .pure-calendarnav-prevmonth:hover, .pure-skin-irshad .pure-calendarnav-nextmonth:hover {
  background: transparent url(hy2ggFy+jtKgohRYVnFDh79CiopuiogLNIjmobxigrn5EjD6AAAMAok9vhfHG8wQAAAAASUVORK5CYII=);
  color: #0066CC;
}

.pure-skin-irshad .pure-calendarnav-month-disabled, .pure-skin-irshad .pure-calendarnav-month-disabled:hover {
  background: transparent url(yXMU0cf5rn9Wr6g3f1bC4nwvbIAZRup1Ay671a8AAwC3OzOqxK+rkwAAAABJRU5ErkJggg==);
  cursor: default;
  color: #CCCCCC;
}

.pure-skin-irshad .pure-calendarnav-prevmonth, .pure-skin-irshad .pure-calendarnav-prevmonth:hover {
  background-position: 0px 0px;
  margin-left:-12px;
}

.pure-skin-irshad .pure-calendarnav-nextmonth, .pure-skin-irshad .pure-calendarnav-nextmonth:hover {
  background-position: -12px 0px;
  margin-right: -12px;
}

.pure-skin-irshad .pure-calendarnav-prevmonth span, .pure-skin-irshad .pure-calendarnav-nextmonth span {
   display: none;
   *display: block;
}

/* basic skin styles */
.pure-skin-irshad .pure-datatable-table {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    /* IE7- doesn't support border-spacing, but separate is needed for more
     * reliable dimension calculation for scrollable's header width sync,
     * and it doesn't hurt to have the declaration here.
     */
    /**border-collapse: collapse;*/
    border: solid 1px #fae4e1;
}

.pure-skin-irshad .pure-datatable-caption {
    color: #adadad;
    font: italic 85%/1 arial, sans-serif;
    padding: 1.56em 0em; /*1em 0;*/
    text-align: center;
}

.pure-skin-irshad .pure-datatable-cell {
    background-color: #fcf0ee;
    color: #862818;
}
.pure-skin-irshad .pure-datatable-cell,
.pure-skin-irshad .pure-datatable-header {
    border-left: 1px solid #fae4e1; /*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
	overflow: visible; /*to make this work where the title is really long */
    padding: 0.47em 1.27em;
}
.pure-skin-irshad .pure-datatable-cell:first-child,
.pure-skin-irshad .pure-datatable-first-header {
    border-left-width: 0px;
}

.pure-skin-irshad .pure-datatable-header {
    background:    -moz-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(247, 219, 212, 0) 49%, rgba(247, 219, 212, 0) 51%, rgba(232, 150, 130, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 251, 251, 0.3)), color-stop(49%, rgba(247, 219, 212, 0)), color-stop(51%, rgba(247, 219, 212, 0)), color-stop(100%,rgba(232, 150, 130, 0.3)));
    background: -webkit-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(247, 219, 212, 0) 49%, rgba(247, 219, 212, 0) 51%, rgba(232, 150, 130, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(247, 219, 212, 0) 49%, rgba(247, 219, 212, 0) 51%, rgba(232, 150, 130, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(247, 219, 212, 0) 49%, rgba(247, 219, 212, 0) 51%, rgba(232, 150, 130, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(254, 251, 251, 0.3) 0%, rgba(247, 219, 212, 0) 49%, rgba(247, 219, 212, 0) 51%, rgba(232, 150, 130, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #f7dbd4;
    color: #5a1f11;

    /*font-weight: normal;*/
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.pure-skin-irshad .pure-datatable-even .pure-datatable-cell {
}
.pure-skin-irshad .pure-datatable-odd  .pure-datatable-cell  {
    background-color: #fae4e1;
    color: #5c1b10;
}
/************************  sortable ***************/
.pure-skin-irshad .pure-datatable-sortable-column {
    cursor: pointer;
}

/* this seems to be just the header of a sorted column */
.pure-skin-irshad .pure-datatable-columns .pure-datatable-sorted,
.pure-skin-irshad .pure-datatable-sortable-column:hover {
    background-color: #f2c5ba;
    color: #40170c;
}

.pure-skin-irshad .pure-datatable-sort-liner {
    display: block;
    height: 100%;
    position: relative;
    padding-right: 15px;
    position: relative;
}

.pure-skin-irshad .pure-datatable-sort-indicator {
    position: absolute;
    right: 0;
    bottom: .5ex;
    width: 7px;
    height: 10px;
    background: url(sort-arrow-sprite.png) no-repeat 0 0;
    _background: url(sort-arrow-sprite.pngsort-arrow-sprite-ie.png) no-repeat 0 0;
    overflow: hidden;
}

.pure-skin-irshad .pure-datatable-sorted .pure-datatable-sort-indicator {
    background-position: 0 -10px;
}
.pure-skin-irshad .pure-datatable-sorted-desc .pure-datatable-sort-indicator {
    background-position: 0 -20px;
}

.pure-skin-irshad .pure-datatable-data .pure-datatable-even .pure-datatable-sorted {
    background-color: #f9e5e1;
    color: #40150c;
}

.pure-skin-irshad .pure-datatable-data .pure-datatable-odd .pure-datatable-sorted {
    background-color: #f4cfc8;
}
/********  datatable-scroll-skin.css **********************************************/
.pure-skin-irshad .pure-datatable-scroll-columns {
    border-collapse: separate;
    border-spacing: 0;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.pure-skin-irshad .pure-datatable-scroll-columns .yui3-datatable-header {
    padding: 0;
}

.pure-skin-irshad .pure-datatable-x-scroller,
.pure-skin-irshad .pure-datatable-y-scroller-container {
    border: 1px solid #fae4e1;
}

.pure-skin-irshad .pure-datatable-scrollable-x .yui3-datatable-y-scroller-container,
.pure-skin-irshad .pure-datatable-x-scroller .yui3-datatable-table,
.pure-skin-irshad .pure-datatable-y-scroller .yui3-datatable-table {
    border: 0 none;
}
/********  end datatable-scroll-skin.css **********************************************/

/* added */
.pure-skin-irshad .pure-datatable-columns .pure-datatable-sorted {
    background-color: #f2c5ba;
}



/** dial-core.css *******************************/
v\:oval,
v\:shadow,
v\:fill {
    behavior: url(#default#VML);
    display: inline-block;
     *display: inline;
     zoom: 1;
}
.pure-dial{
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	/*text-align:center;   This causes problems with the angle calc with longer labels*/
}
.pure-dial-content,
.pure-dial-ring{
	position:relative;
}
.pure-dial-handle,
.pure-dial-marker,
.pure-dial-center-button,
.pure-dial-reset-string,
.pure-dial-handle-vml,
.pure-dial-marker-vml,
.pure-dial-center-button-vml,
.pure-dial-ring-vml v\:oval,
.pure-dial-center-button-vml v\:oval
{
	position:absolute;
}
.pure-dial-center-button-vml v\:oval {
	font-size:1px;
	top:0;
	left:0;
}
.pure-dial-content .pure-dial-ring .pure-dial-hidden v\:oval,
.pure-dial-content .pure-dial-ring .pure-dial-hidden {
	/* [#2530206] using opacity instead of display:none;. display:none was mis-positioning the marker when we set the dial value on ring mousedown. */
	opacity:0;
	filter:alpha(opacity=0);
}

/** dial-skin.css  (sam) *******************************/
.pure-skin-irshad .pure-dial-handle{ /*container. top left corner used for trig positioning*/
    background-color: #fc4b24;
	opacity:0.3;
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.9) inset;
	/*-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.9) inset; Chrome 7/Win bug*/
	cursor:pointer;
	font-size:1px;
}
.pure-skin-irshad .pure-dial-ring {
    background: -moz-linear-gradient(-45deg, rgba(255,255,255, 0.1) 0%, rgba(255,255,255,0) 39%, rgba(0,0,0,0) 40%, rgba(0,0,0, 0.2) 100%);
    background-color: #fcf0ee;
	box-shadow:1px 1px 5px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) inset; /*Chrome 7/Win bug*/
	-moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.4) inset;
}
.pure-skin-irshad .pure-dial-center-button{
    background: -moz-radial-gradient(30% 30% 0deg, circle farthest-side, rgba(255,255,255, 0.3) 24%, rgba(255,255,255, 0) 41%, rgba(0,0,0, 0) 42%, rgba(0,0,0, 0.2) 83%) repeat scroll 0 0 transparent;
    background-color: #f7dbd4;
	box-shadow:-1px -1px 2px rgba(0, 0, 0, 0.3) inset, 1px 1px 2px rgba(0, 0, 0, 0.5);
	cursor:pointer;
	opacity:0.7;
	/*text-align:center;*/
}
.pure-skin-irshad .pure-dial-reset-string{
    color: #5a1f11;
	font-size:85%;
	text-decoration:underline;
}
.pure-skin-irshad .pure-dial-label{
	color:    #4f4f4f; /* this sits directly on page background */
	margin-bottom:0.8em;
}
.pure-skin-irshad .pure-dial-value-string{
	margin-left:0.5em;
	color: #262626;   /*this sits directly on page background */
	font-size:130%;
}
.pure-skin-irshad .pure-dial-value {
	visibility:visible;
	position:absolute;
	top:0;
	left:0;
	width:4em;
}

.pure-skin-irshad .pure-dial-north-mark{
	position:absolute;
	border-left:2px solid #adadad;
	height:5px;
	width:10px;
	left:50%;
	top:-7px;
	font-size:1px;
}
.pure-skin-irshad .pure-dial-marker {
	background-color: #41140b;
	opacity:0.2;
	font-size:1px;
}
.pure-skin-irshad .pure-dial-marker-max-min{
	background-color:#AB3232;  /*red for max/min*/
	opacity:0.6;
}
.pure-skin-irshad .pure-dial-ring-vml,
.pure-skin-irshad .pure-dial-center-button-vml,
.pure-skin-irshad .pure-dial-marker v\:oval.pure-dial-marker-max-min,
.pure-skin-irshad v\:oval.pure-dial-marker-max-min,
.pure-skin-irshad .pure-dial-marker-vml,
.pure-skin-irshad .pure-dial-handle-vml {
    background: none;
    opacity:0;
}
/********************************/


/** from overlay-core.css ***************************/
.pure-overlay {
    position:absolute;
}

.pure-overlay-hidden {
    visibility:hidden
}

.pure-widget-tmp-forcesize .pure-overlay-content {
    overflow:hidden !important;
}

/** added ***************************************/
.pure-skin-irshad .pure-overlay-content .pure-widget-hd,
.pure-skin-irshad .pure-overlay-content .pure-widget-bd,
.pure-skin-irshad .pure-overlay-content .pure-widget-ft {
    background-color: #fcf0ee;
    border: solid 1px #fae4e1;
    border-bottom: none;
    padding: 0.47em 1.06em;
    color: #862818;
}
.pure-skin-irshad .pure-overlay-content .pure-widget-ft {
    border-bottom: solid 1px #fae4e1;
}

/** from panel-core.css *****************************************/
.pure-panel {
    position: absolute;
}
.pure-panel-hidden {
    visibility: hidden;
}
.pure-widget-tmp-forcesize .pure-panel-content {
    overflow: hidden !important;
}
.pure-panel .pure-widget-hd {
    position: relative;
}
.pure-panel .pure-widget-hd .pure-widget-buttons {
    position: absolute;
    top: 0;
    right: 0;
}
.pure-panel .pure-widget-ft .pure-widget-buttons {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

/** from panel-skin.css (sam)***************************************/
.pure-skin-irshad .pure-panel-content {
    -webkit-box-shadow: 2 2 7px rgba(0,0,0,0.15);
    -moz-box-shadow: 2 2 7px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 7px rgba(0,0,0,0.15);
    border: solid 1px #f4cfc8;
    background-color: #fcf0ee;
    color: #862818;
    border-radius: 4px;
}
.pure-skin-irshad .pure-panel .pure-widget-hd {
    padding: 0.78em; /* Room for close button. */
    padding-right: 40px; /* Room for Close button */
    min-height: 13px;           /* For the close button */
    _height: 13px;              /* IE6 */
    color: #40170c;
    background: background:    -moz-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 251, 251, 0.3)), color-stop(49%, rgba(242, 197, 186, 0)), color-stop(51%, rgba(242, 197, 186, 0)), color-stop(100%,rgba(226, 129, 105, 0.3)));
    background: -webkit-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #f2c5ba;
    border-radius: 4px 4px 0 0;


    /*
    TODO: Add support for IE and W3C gradients
    */
}
.pure-skin-irshad .pure-panel .pure-widget-hd .pure-widget-buttons {
    padding: 0.31em;
}
.pure-skin-irshad .pure-panel .pure-widget-bd {
    padding: 0.78em;
}
.pure-skin-irshad .pure-panel .pure-widget-ft {
	background: #f9e5e1;
	padding: 0.78em;
    text-align: right;
    border-radius: 0 0 4px 4px;
}
.pure-skin-irshad .pure-panel .pure-widget-ft .pure-button {
    margin-left: 8px;
}

/*
Support for icon-based [x] "close" button in the header.

Nicolas Gallagher: "CSS image replacement with pseudo-elements (NIR)"
http://nicolasgallagher.com/css-image-replacement-with-pseudo-elements/
*/
.pure-skin-irshad .pure-panel .pure-widget-hd .pure-button-close {
    /* Reset base button styles */
    background: transparent;
    filter: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* Structure */
    width: 13px;
    height: 13px;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    /* IE less than 8 :( */
    *font-size: 0;
    *line-height: 0;
    *letter-spacing: -1000px;
    *color: #86A5EC;
    *background: url(assets/images/sprite_icons.png) no-repeat 1px 1px;
}
.pure-skin-irshad .pure-panel .pure-widget-hd .pure-button-close:before {
    /*
    Displays the [x] icon in place of the "Close" text.
    Note: The `width` of this pseudo element is the same as its "host" element.
    */
    content: url(sprite_icons.png);
    display: inline-block;
    text-align: center;
    font-size: 0;
    line-height: 0;
    width: 13px;
    margin: 1px 0 0 1px;
}
.pure-skin-irshad .pure-panel-hidden .pure-widget-hd .pure-button-close {
    /* Required for IE > 7 to deal with pseudo :before element */
    display: none;
}

/********  scrollview-base-skin.css **********************************************/
.pure-skin-irshad .pure-scrollview {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
/******** scrollview-scrollbars-skin.css   (sam) *************************************/
.pure-skin-irshad .pure-scrollview-scrollbar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate(0, 0);
}

.pure-skin-irshad .pure-scrollview-scrollbar .pure-scrollview-first,
.pure-skin-irshad .pure-scrollview-scrollbar .pure-scrollview-middle,
.pure-skin-irshad .pure-scrollview-scrollbar .pure-scrollview-last {
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
/*    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAYAAAD9yd/wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpiZGBgSGPAAgACDAAIkABoFyloZQAAAABJRU5ErkJggg==); */
    background-color: #f7dbd4;
    /* opacity */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5;
}}

.pure-skin-irshad .pure-scrollview-scrollbar .pure-scrollview-first,
.pure-skin-irshad .pure-scrollview-scrollbar .pure-scrollview-last {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;

    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;

    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
}

.pure-skin-irshad .pure-scrollview-scrollbar .pure-scrollview-last {
    border-radius:0;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;

    -webkit-border-radius:0;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-transform: translate3d(0, 0, 0);

    -moz-border-radius:0;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-transform: translate(0, 0);
}

.pure-skin-irshad .pure-scrollview-scrollbar .pure-scrollview-middle {
    border-radius:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;

    -webkit-transform: translate3d(0,0,0) scaleY(1);
    -webkit-transform-origin-y: 0;

    -moz-transform: translate(0,0) scaleY(1);
    -moz-transform-origin: 0 0;
}

.pure-skin-irshad .pure-scrollview-scrollbar-horiz .pure-scrollview-first,
.pure-skin-irshad .pure-scrollview-scrollbar-horiz .pure-scrollview-last {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;

    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;

    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 3px;
}

.pure-skin-irshad .pure-scrollview-scrollbar-horiz .pure-scrollview-last {
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;

    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 3px;

    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topright: 3px;
}

.pure-skin-irshad .pure-scrollview-scrollbar-horiz .pure-scrollview-middle {
    -webkit-transform: translate3d(0,0,0) scaleX(1);
    -webkit-transform-origin: 0 0;

    -moz-transform: translate(0,0) scaleX(1);
    -moz-transform-origin: 0 0;
}

.pure-skin-irshad .pure-scrollview-scrollbar-vert-basic .pure-scrollview-child,
.pure-skin-irshad .pure-scrollview-scrollbar-horiz-basic .pure-scrollview-child {
    background-color: #aaa;  /* where does this display? */
    background-image: none;
}
/******** scrollview-scrollbars-core.css *******************************/
.pure-scrollview-scrollbar {
    opacity: 1;
    position: absolute;
    width: 6px;
    height: 10px;
}

.pure-scrollview-scrollbar {
    top: 0;
    right: 1px;
}

.pure-scrollview-scrollbar-horiz {
    top:auto;
    height: 8px;
    width: 20px;
    bottom: 1px;
    left: 0;
}

.pure-scrollview-scrollbar .pure-scrollview-child {
    position: absolute;
    right: 0px;
    display: block;
    width: 100%;
    height: 4px;
}

.pure-scrollview-scrollbar .pure-scrollview-first {
    top: 0;
}

.pure-scrollview-scrollbar .pure-scrollview-last {
    top: 0;
}

.pure-scrollview-scrollbar .pure-scrollview-middle {
    position: absolute;
    top: 4px;
    height: 1px;
}

.pure-scrollview-scrollbar-horiz .pure-scrollview-child {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;

    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
}

.pure-scrollview-scrollbar-horiz .pure-scrollview-first,
.pure-scrollview-scrollbar-horiz .pure-scrollview-last {
    width: 4px;
    height: 6px;
}

.pure-scrollview-scrollbar-horiz .pure-scrollview-middle {
    top: 0;
    left: 4px;
    width: 1px;
    height: 6px;
}

.pure-scrollview-scrollbar-vert-basic {
    height:auto;
}

.pure-scrollview-scrollbar-vert-basic .pure-scrollview-child {
    position:static;
    _overflow:hidden;
    _line-height:4px;
}

.pure-scrollview-scrollbar-horiz-basic {
    width:auto;
    white-space:nowrap;
    line-height:6px;
    _overflow:hidden;
}

.pure-scrollview-scrollbar-horiz-basic .pure-scrollview-child {
    position:static;

    padding:0;
    margin:0;

    top:auto;
    left:auto;
    right:auto;
    bottom:auto;
}
/******** scrollview-list-skin.css  (sam) *****************************/
.pure-skin-irshad .pure-scrollview {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.pure-skin-irshad .pure-scrollview{
	background-color: #fcf0ee;
}
/* For IE 6/7 - needs a background color (above) to pick up events, and zoom, to fill the UL */
.pure-skin-irshad .pure-scrollview-vert .pure-scrollview-content .pure-scrollview-item {
    *zoom:1;
}

/* For IE7 - needs zoom, otherwise clipped content is not rendered */
.pure-skin-irshad .pure-scrollview-vert .pure-scrollview-content .pure-scrollview-list {
    *zoom:1;
	list-style:none; /*need these since reset is not required*/
	padding:0; /*need these since reset is not required*/
	margin:0; /*need these since reset is not required*/
}

.pure-skin-irshad .pure-scrollview-content,
.pure-skin-irshad .pure-scrollview-vert .pure-scrollview-content {
    border:1px solid #fae4e1; /* remove the ScrollView border here */
    /*border-top:0; Remove the top border if needed */
	background-color: transparent;
	font-family: HelveticaNeue,arial,helvetica,clean,sans-serif;
	color:black;
}
                                        /*jeff can't find this ... -item class */
.pure-skin-irshad .pure-scrollview-vert .pure-scrollview-content .pure-scrollview-item {
    border-bottom: 1px solid #f00;
    padding: 15px 20px 16px;   /*jeff: not implemented since can't find -item class */
    font-size: 100%;
    font-weight: bold;
    background-color: #f00;
	cursor:pointer;
}


/******** These are not needed, just added for presentation ********/
.pure-skin-irshad .pure-scrollview-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pure-skin-irshad .pure-scrollview-content li {
    padding: 0.47em 1.06em;
    border-bottom: solid 1px #f7d5cf;
    color: #862818;
}
.pure-skin-irshad .pure-scrollview-content li:hover {
    background: #f7d5cf;
    /*border-bottom: solid 1px #f7d5cf;*/
    color: #1a0804;
}
/******** end of just added for presentation ********/

/** slider-base-core.css *********************************************/
.pure-slider,
.pure-slider-rail {
    /* xbrowser inline-block styles */
    display: -moz-inline-stack; /* FF2 */
    display: inline-block;
    *display: inline; /* IE 7- (with zoom) */
    zoom: 1;
    vertical-align: middle;
}

.pure-slider-content {
    position: relative;
    display: block;
}
.pure-slider-rail {
    position: relative;
}

.pure-slider-rail-cap-top,
.pure-slider-rail-cap-left,
.pure-slider-rail-cap-bottom,
.pure-slider-rail-cap-right,
.pure-slider-thumb,
.pure-slider-thumb-image,
.pure-slider-thumb-shadow {
    position: absolute;
}

.pure-slider-thumb {
    overflow: hidden;
}


/** slider-base-skin.css (sam)***************************************/
/* Horizontal Slider */

/* Use thumbUrl /build/slider-base/assets/skins/sam/thumb-x.png */

.pure-skin-irshad .pure-slider-x .pure-slider-rail,
.pure-skin-irshad .pure-slider-x .pure-slider-rail-cap-left,
.pure-skin-irshad .pure-slider-x .pure-slider-rail-cap-right {
    background-image: none;
}

.pure-skin-irshad .pure-slider-x .pure-slider-rail {
    height: 26px;
}
.pure-skin-irshad .pure-slider-x .pure-slider-thumb {
    background-color: #f9e5e1;
    height: 18px;
    width: 12px;
    border: solid 1px #f2c5ba;
    border-color: #f2c5ba #f0baad #f0baad #f2c5ba;
    border-radius: 50% 50% 3px 3px;
    margin-top: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15), -1px -1px 3px rgba(0, 0, 0, 0.15) inset;
}

.pure-skin-irshad .pure-slider-x .pure-slider-rail-cap-left {
    background-color: #fcf0ee;
    font-size: 1px; /* for IE 6 */
    height: 2px;
    left: -4px;
    width: 100%;
    border: solid 1px #ddd;
    border-color: #f2c4bb #fae4e1 #fae4e1 #f2c4bb;
    border-right: none;
    margin-top: 0.5em;
    border-radius: 2px 0 0 2px;
}
.pure-skin-irshad .pure-slider-x .pure-slider-rail-cap-right {
    background-color: #fcf0ee;
    font-size: 1px; /* for IE 6 */
    height: 2px;
    right: -4px;
    width: 8px;
    border: solid 1px #ddd;
    border-color: #f2c4bb #fae4e1 #fae4e1 #f2c4bb;
    border-left: none;
    margin-top: 0.5em;
    border-radius: 0 2px 2px 0;
}

.pure-skin-irshad .pure-slider-x .pure-slider-thumb-image,
.pure-skin-irshad .pure-slider-x .pure-slider-thumb-shadow {
    display: none;
}

/* Vertical Slider */

.pure-skin-irshad .pure-slider-y .pure-slider-rail,
.pure-skin-irshad .pure-slider-y .pure-slider-rail-cap-top,
.pure-skin-irshad .pure-slider-y .pure-slider-rail-cap-bottom {
    background-image: none;
}

.pure-skin-irshad .pure-slider-y .pure-slider-rail {
    width: 26px;
}
.pure-skin-irshad .pure-slider-y .pure-slider-thumb {
    background-color: #f9e5e1;
    height: 12px;
    width: 18px;
    border: solid 1px #f2c5ba;
    border-color: #f2c5ba #f0baad #f0baad #f2c5ba;
    border-radius: 50% 3px 3px 50%;
    margin-left: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15), -1px -1px 3px rgba(0, 0, 0, 0.15) inset;
}

.pure-skin-irshad .pure-slider-y .pure-slider-rail-cap-top {
    background-color: #fcf0ee;
    width: 2px;
    top: -4px;
    height: 100%;
    border: solid 1px #ddd;
    border-color: #f2c4bb #fae4e1 #fae4e1 #f2c4bb;
    border-bottom: none;
    margin-left: 0.5em;
    border-radius: 2px 2px 0 0;
}
.pure-skin-irshad .pure-slider-y .pure-slider-rail-cap-bottom {
    background-color: #fcf0ee;
    width: 2px;
    bottom: -4px;
    height: 8px;
    border: solid 1px #ddd;
    border-color: #f2c4bb #fae4e1 #fae4e1 #f2c4bb;
    border-top: none;
    margin-left: 0.5em;
    border-radius: 0 0 2px 2px;
}

.pure-skin-irshad .pure-slider-y .pure-slider-thumb-image,
.pure-skin-irshad .pure-slider-y .pure-slider-thumb-shadow {
    display: none;
}


.pure-skin-irshad .pure-tabview-list {
    border:solid #fb3104; /* color between tab list and content */
    border-width:0 0 5px;
    zoom:1;
}

.pure-skin-irshad .pure-tab {
    margin:0 0.2em 0 0;
    padding:1px 0 0; /* gecko: make room for overflow */
    zoom:1;
}

.pure-skin-irshad .pure-tab-selected {
    margin-bottom:-1px; /* for overlap (mapped to tabview-list border-width) */
}

.pure-skin-irshad .pure-tab-label {
    background:    -moz-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 251, 251, 0.3)), color-stop(49%, rgba(242, 197, 186, 0)), color-stop(51%, rgba(242, 197, 186, 0)), color-stop(100%,rgba(226, 129, 105, 0.3)));
    background: -webkit-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(254, 251, 251, 0.3) 0%, rgba(242, 197, 186, 0) 49%, rgba(242, 197, 186, 0) 51%, rgba(226, 129, 105, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #f2c5ba;
    border-style: solid;
    border-color: #f9e6e1 #edb0a1 #edb0a1 #f9e6e1;
    border-width: 1px 1px 0 1px;
    cursor:pointer;
    font-size:85%;
    padding: 0.47em 1.59em;
    text-decoration:none;
    color: #40170c;
    border-radius: 4px 4px 0 0;
}

.pure-skin-irshad .pure-tab-label:hover,
.pure-skin-irshad .pure-tab-label:focus {
    background:    -moz-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(235, 169, 152, 0) 49%, rgba(235, 169, 152, 0) 51%, rgba(218, 98, 68, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 251, 251, 0.3)), color-stop(49%, rgba(235, 169, 152, 0)), color-stop(51%, rgba(235, 169, 152, 0)), color-stop(100%,rgba(218, 98, 68, 0.3)));
    background: -webkit-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(235, 169, 152, 0) 49%, rgba(235, 169, 152, 0) 51%, rgba(218, 98, 68, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(235, 169, 152, 0) 49%, rgba(235, 169, 152, 0) 51%, rgba(218, 98, 68, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(254, 251, 251, 0.3) 0%, rgba(235, 169, 152, 0) 49%, rgba(235, 169, 152, 0) 51%, rgba(218, 98, 68, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(254, 251, 251, 0.3) 0%, rgba(235, 169, 152, 0) 49%, rgba(235, 169, 152, 0) 51%, rgba(218, 98, 68, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #eba998;
    color: #0d0503;
    border: solid 1px;
    border-color: #f2c6bb #e79784 #e79784 #f2c6bb;
    border-bottom: none;
    outline:0;
}

.pure-skin-irshad .pure-tab-selected .pure-tab-label {
    background:    -moz-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 251, 250, 0.3)), color-stop(49%, rgba(252, 75, 36, 0)), color-stop(51%, rgba(252, 75, 36, 0)), color-stop(100%,rgba(171, 33, 3, 0.3)));
    background: -webkit-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(255, 251, 250, 0.3) 0%, rgba(252, 75, 36, 0) 49%, rgba(252, 75, 36, 0) 51%, rgba(171, 33, 3, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #fc4b24;
    color: #050100;
    border: solid 1px;
    border-color: #fd7b5e #fb3104 #fb3104 #fd7b5e;
}
/* separated out hover state for selected tab */
.pure-skin-irshad .pure-tab-selected .pure-tab-label:hover,
.pure-skin-irshad .pure-tab-selected .pure-tab-label:focus {
    background:    -moz-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(251, 49, 4, 0) 49%, rgba(251, 49, 4, 0) 51%, rgba(156, 30, 2, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 251, 250, 0.3)), color-stop(49%, rgba(251, 49, 4, 0)), color-stop(51%, rgba(251, 49, 4, 0)), color-stop(100%,rgba(156, 30, 2, 0.3)));
    background: -webkit-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(251, 49, 4, 0) 49%, rgba(251, 49, 4, 0) 51%, rgba(156, 30, 2, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(251, 49, 4, 0) 49%, rgba(251, 49, 4, 0) 51%, rgba(156, 30, 2, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(255, 251, 250, 0.3) 0%, rgba(251, 49, 4, 0) 49%, rgba(251, 49, 4, 0) 51%, rgba(156, 30, 2, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(255, 251, 250, 0.3) 0%, rgba(251, 49, 4, 0) 49%, rgba(251, 49, 4, 0) 51%, rgba(156, 30, 2, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #fb3104;
    color: #fffbfa;
    border: solid 1px;
    border-color: #fc6f4f #e72d04 #e72d04 #fc6f4f;
}



.pure-skin-irshad .pure-tab-selected .pure-tab-label {
    padding: 0.62em 1.59em; /* raise selected tab */
}

.pure-skin-irshad .pure-tabview-panel {
    background-color: #fcf0ee;
    border: 1px solid #fae4e1;
    color: #862818;
    padding: 0.39em 1.06em; /* content padding */
}







/*========typography==========*/

.pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form select, .pure-form textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none !important;
    box-sizing: border-box;
    color: #fc4b24 !important;
    display: inline-block;
    padding: 0.5em 0.6em;
}


html, button, input, select, textarea {
    font-family: sans-serif;
    font-size: 0.950em !important;
	color:#5f5f5f;
}


/*========texinput==========*/



.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: #f8a08c !important;
}


.pure-form input.pure-input-rounded, .pure-form .pure-input-rounded {
    border-radius: 2em 0em 0em 2em !important;
    padding: 0.6em 1.5em !important ;
	float:left !important;


