/*TGLK HELPER CLASS*/
.border-bottom{ height:1%;  border-bottom: 1px solid #cccccc; margin: 0 5px 0 5px;}
label{ float: left; font-size: 14px; padding: 10% 0 0 2%; font-family: "caecilia std roman"; color:#fc4b24;}
.label2{ float: left; font-size: 14px; padding: 2% 0 0 2%; font-family: "caecilia std roman"; color:#000; font-size:14px;text-align:center;}
.label-center{ float: left; font-size: 14px; padding: 5% 0 0 40%; font-family: "caecilia std roman"; color:#000; font-size:25px;}
.tglk-fl{ float:left; width:50%; }
.clear{ clear:both;}
.font12{ font-size:12px;}
.padding-left{ padding-left:22% !important;}
.stitle-padding{ padding-top: 15px; padding-left:4%; color:#FFF; font-size:15px;}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
body { margin: 0px; padding:0px; }
.tglk-mob-layout-container {  width:100%; padding-bottom:50px;  }
.tglk-mob-layout-container .tglk-mob-header { background-color: #fc4b24; height:60px;  width: 100%; position:fixed;  }
.tglk-mob-layout-container .tglk-mob-header .img { height:36px; width:40px; padding: 13px 0 0 14px; cursor: pointer;}
.tglk-mob-layout-container .tglk-mob-header .tglk-mob-icn-arrow { float: left; }
.tglk-mob-layout-container .tglk-mob-header .tglk-mob-logo { float: left; padding-left: 9%; padding-top: 3%;}
.tglk-mob-layout-container .tglk-mob-header .tglk-mob-btn-close { float: left; padding-left: 9%; padding-top: 7%; cursor:pointer;}
.tglk-mob-layout-container .tglk-mob-banner-container { padding-top:12%; /*background-color:#F00;*/ height:184px;}
.tglk-mob-layout-container .tglk-mob-banner-container .tglk-main-banner{ height:auto !important;}
.tglk-mob-layout-container .tglk-mob-banner-container .tglk-main-banner img { width: 100%; max-width:100%; }
.tglk-mob-layout-container .tglk-mob-content-container { /*padding-bottom:50px;*/ }
.tglk-mob-layout-container .tglk-mob-content-container .tglk-mob-content {padding:4% 0% 4% 4%;  word-wrap:normal !important }
.tglk-mob-layout-container .tglk-mob-content-container .tglk-mob-content .tglk-mob-h1 { font-size: 26px; font-family: "caecilia std roman"; color:#000; padding-top:3%; }
.tglk-mob-layout-container .tglk-mob-content-container .tglk-mob-content .tglk-mob-h2 { font-size: 15px; font-family: "caecilia std roman"; color:#fc4b24; font-weight:400;}
.tglk-mob-layout-container .tglk-mob-content-container .tglk-mob-content .tglk-product-detail { padding: 2% 2% 0 0%; font-size:13px}
.tglk-mob-layout-container .tglk-mob-footer { height: 10%; width:100%; background-color:#f9f9f9; position: fixed; bottom: 0px; box-shadow: 0px -1px 6px #888888;}
.tglk-mob-layout-container .tglk-mob-footer .tglk-icn-location { float: left; padding: 9% 0 0 5%; }
.tglk-mob-layout-container .tglk-mob-footer .tglk-social-container .tglk-icn { float: left; padding-right:4%; cursor:pointer;  }
.tglk-mob-layout-container .tglk-mob-footer .tglk-social-container { float: right;  padding-top: 2.5%; width: 50%;}
.tglk-mob-layout-container .tglk-mob-sub-header {background-color: #fc4b24; height:45px;  width: 100%; border-bottom: 1px solid #fff; cursor:pointer;}
.h3{ float: left; padding-left:20px; padding-top:14px; color:#FFF; }
.tglk-mob-layout-container .tglk-mob-sub-header .tglk-arrow-right { float: right; padding:4% 4% 0 0; }
.tglk-mob-layout-container .tglk-mob-banner-container .tglk-image-container {  margin-left: 10%; margin-top: 29%; }
.pushmenu{ float:left; padding: 6% 0 0 5%;}

.tglk-mob-layout-container .tglk-mob-header .tglk-mob-logo-push { float: left; padding-left: 12%; padding-top: 4%;}


}





/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
body { margin: 0px; padding:0px; }
.tglk-mob-layout-container {  width:100%; }
.tglk-mob-layout-container .tglk-mob-header { background-color: #fc4b24; height:60px;  width: 100%; position:fixed; }
.tglk-mob-layout-container .tglk-mob-header .img { height:36px; width:40px; padding: 13px 0 0 14px; cursor:pointer;}
.tglk-mob-layout-container .tglk-mob-header .tglk-mob-icn-arrow { float: left; }
.tglk-mob-layout-container .tglk-mob-header .tglk-mob-logo { float: left; padding-left: 20%; padding-top: 3%;  }
.tglk-mob-layout-container .tglk-mob-header .tglk-mob-btn-close { float: left;   padding-left: 26%; padding-top: 5.1%; cursor:pointer;}
.tglk-mob-layout-container .tglk-mob-banner-container { padding-top:12%;/* background-color:#F00; */height: auto !important;}
.tglk-mob-layout-container .tglk-mob-content-container {/* padding-bottom:50px;*/ }
.tglk-mob-layout-container .tglk-mob-banner-container .tglk-main-banner{ height:auto !important;}
.tglk-mob-layout-container .tglk-mob-banner-container .tglk-main-banner img { width: 100%; max-width:100%; margin-top: -90px; }
.tglk-mob-layout-container .tglk-mob-banner-container { padding-top:12%; height:184px !important ; }
.tglk-mob-layout-container .tglk-mob-content-container .tglk-mob-content {  padding:4% 4% 4% 4%;  word-wrap:normal !important  }
.tglk-mob-layout-container .tglk-mob-content-container .tglk-mob-content .tglk-mob-h1 { font-size: 26px; font-family: "caecilia std roman"; color:#000; }

.tglk-mob-layout-container .tglk-mob-sub-header {background-color: #fc4b24; height:45px;  width: 100%; border-bottom: 1px solid #fff; cursor:pointer;}
.tglk-mob-layout-container .tglk-mob-sub-header .tglk-stitle { float: left; padding-left:20px; padding-top:14px; color:#FFF; }
.tglk-mob-layout-container .tglk-mob-sub-header .tglk-arrow-right { float: right; padding:3% 4% 0 0; }
.tglk-mob-layout-container .tglk-mob-content-container .tglk-mob-content .tglk-product-detail { padding: 2%  2% 0 0%; font-size:13px}
.tglk-mob-layout-container .tglk-mob-footer { height: 17%; background-color:#f9f9f9; position: fixed; bottom: 0px;}
.tglk-mob-layout-container .tglk-mob-footer .tglk-social-container .tglk-icn { float: left; padding-right:4%; cursor:pointer; }
.tglk-mob-layout-container .tglk-mob-footer .tglk-social-container { float: right;  padding-top: 2.5%; width: 36%;}
.tglk-mob-layout-container .tglk-mob-banner-container .tglk-image-container {  margin-left: 24%; margin-top: 2%; }
.label2{ float: left; font-size: 14px; padding: 0% 0 0 16%; font-family: "caecilia std roman"; color:#000; font-size:14px;text-align:center;}
.label-center{ float: left; font-size: 14px; padding: 1% 0 0 44%; font-family: "caecilia std roman"; color:#000; font-size:25px;}
.padding-left{ padding-left:33% !important;}
}





















