
/*! normalize.css v1.0.0 | MIT License | git.io/normalize */
 
/* ==========================================================================
HTML5 display definitions
========================================================================== */
 
/*
* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
display: block;
}
 
/*
* Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
 
audio,
canvas,
video {
display: inline-block;
*display: inline;
*zoom: 1;
}
 
/*
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
 
audio:not([controls]) {
display: none;
height: 0;
}
 
/*
* Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
* and Safari 4.
* Known issue: no IE 6 support.
*/
 
[hidden] {
display: none;
}
 
/* ==========================================================================
Base
========================================================================== */
 
/*
* 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
* `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
* user zoom.
*/
 
html {
font-size: 85%; /* 1 */
-webkit-text-size-adjust: 85%; /* 2 */
-ms-text-size-adjust: 85%; /* 2 */
}
 
/*
* Addresses `font-family` inconsistency between `textarea` and other form
* elements.
*/
 
html,
button,
input,
select,
textarea {
font-family: sans-serif;
}
 
/*
* Addresses margins handled incorrectly in IE 6/7.
*/
 
body {
margin: 0;
}
 
/* ==========================================================================
Links
========================================================================== */
 
/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/
 
a:focus {
outline: thin dotted;
}
 
/*
* Improves readability when focused and also mouse hovered in all browsers.
*/
 
a:active,
a:hover {
outline: 0;
}
 
/* ==========================================================================
Typography
========================================================================== */
 
/*
* Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
* and Chrome.
*/
 
h1 {
font-size: 2em;
margin: 0.67em 0;
}
 
h2 {
font-size: 1.5em;
margin: 0.83em 0;
}
 
h3 {
font-size: 1.17em;
margin: 1em 0;
}
 
h4 {
font-size: 1em;
margin: 1.33em 0;
}
 
h5 {
font-size: 0.83em;
margin: 1.67em 0;
}
 
h6 {
font-size: 0.75em;
margin: 2.33em 0;
}
 
/*
* Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
*/
 
abbr[title] {
border-bottom: 1px dotted;
}
 
/*
* Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
*/
 
b,
strong {
font-weight: bold;
}
 
blockquote {
margin: 1em 40px;
}
 
/*
* Addresses styling not present in Safari 5 and Chrome.
*/
 
dfn {
font-style: italic;
}
 
/*
* Addresses styling not present in IE 6/7/8/9.
*/
 
mark {
background: #ff0;
color: #000;
}
 
/*
* Addresses margins set differently in IE 6/7.
*/
 
p,
pre {
margin: 1em 0;
}
 
/*
* Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
 
code,
kbd,
pre,
samp {
font-family: monospace, serif;
_font-family: 'courier new', monospace;
font-size: 1em;
}
 
/*
* Improves readability of pre-formatted text in all browsers.
*/
 
pre {
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
}
 
/*
* Addresses CSS quotes not supported in IE 6/7.
*/
 
q {
quotes: none;
}
 
/*
* Addresses `quotes` property not supported in Safari 4.
*/
 
q:before,
q:after {
content: '';
content: none;
}
 
small {
font-size: 75%;
}
 
/*
* Prevents `sub` and `sup` affecting `line-height` in all browsers.
*/
 
sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
 
sup {
top: -0.5em;
}
 
sub {
bottom: -0.25em;
}
 
/* ==========================================================================
Lists
========================================================================== */
 
/*
* Addresses margins set differently in IE 6/7.
*/
 
dl,
menu,
ol,
ul {
margin: 1em 0;
}
 
dd {
margin: 0 0 0 40px;
}
 
/*
* Addresses paddings set differently in IE 6/7.
*/
 
menu,
ol,
ul {
padding: 0 0 0 40px;
}
 
/*
* Corrects list images handled incorrectly in IE 7.
*/
 
nav ul,
nav ol {
list-style: none;
list-style-image: none;
}
 
/* ==========================================================================
Embedded content
========================================================================== */
 
/*
* 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7.
*/
 
img {
border: 0; /* 1 */
-ms-interpolation-mode: bicubic; /* 2 */
}
 
/*
* Corrects overflow displayed oddly in IE 9.
*/
 
svg:not(:root) {
overflow: hidden;
}
 
/* ==========================================================================
Figures
========================================================================== */
 
/*
* Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/
 
figure {
margin: 0;
}
 
/* ==========================================================================
Forms
========================================================================== */
 
/*
* Corrects margin displayed oddly in IE 6/7.
*/
 
form {
margin: 0;
}
 
/*
* Define consistent border, margin, and padding.
*/
 
/*fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}*/
 
/*
* 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7.
*/
 
legend {
border: 0; /* 1 */
padding: 0;
white-space: normal; /* 2 */
*margin-left: -7px; /* 3 */
}
 
/*
* 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
* and Chrome.
* 3. Improves appearance and consistency in all browsers.
*/
 
button,
input,
select,
textarea {
font-size: 14px; /* 1 */
margin: 0; /* 2 */
vertical-align: baseline; /* 3 */
*vertical-align: middle; /* 3 */
}
 
/*
* Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
 
button,
input {
line-height: normal;
}
 
/*
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
* and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
* `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
* Known issue: inner spacing remains in IE 6.
*/
 
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button; /* 2 */
cursor: pointer; /* 3 */
*overflow: visible; /* 4 */
}
 
/*
* Re-set default cursor for disabled elements.
*/
 
button[disabled],
input[disabled] {
cursor: default;
}
 
/*
* 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
* Known issue: excess padding remains in IE 6.
*/
 
input[type="checkbox"],
input[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
*height: 13px; /* 3 */
*width: 13px; /* 3 */
}
 
/*
* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
* (include `-moz` to future-proof).
*/
 
input[type="search"] {
-webkit-appearance: textfield; /* 1 */
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box;
}
 
/*
* Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
 
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
 
/*
* Removes inner padding and border in Firefox 3+.
*/
 
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}
 
/*
* 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers.
*/
 
textarea {
overflow: auto; /* 1 */
vertical-align: top; /* 2 */
}
 
/* ==========================================================================
Tables
========================================================================== */
 
/*
* Remove most spacing between table cells.
*/
 
table {
border-collapse: collapse;
border-spacing: 0;

}







#tglk-main-header { background-color: #ff632e; padding: 27px 0 27px 0;  width:100%;}
#tglk-main-header .tglk-logo{ float:left; padding-left:5%;}
#tglk-main-header .tglk-main-menu{ float:right; /*background-color:#C03;*/ width:auto; padding-right:5%; width:70%;}
#tglk-main-header .tglk-main-menu ul{ padding:0px; margin:0px; float:right;}
#tglk-main-header .tglk-main-menu li{ float: left; display:inline-block; /*background-color:#30F;*/ padding-top:20px; padding-left:10px; padding-right:10px; }
#tglk-main-header .tglk-main-menu li:hover{ float: left; padding-top:20px; padding-left:10px; padding-right:10px;  text-align:center; cursor:pointer; background-image:url(images/web-icon-hover.png);	background-position: center top; background-repeat:no-repeat; color:#ffffff;   }
.tglk-border-bottom{ border-bottom:1px solid #eaeaea; height:92px; width:89%; /*background-color:#CFF;*/ margin-left:5%; margin-right:5%;}
.tglk-sub-header{  color:#000; margin-left:5%; padding-top:13px; font-size:16px;  }
.tglk-profile-img{ margin-left:5%; padding-top:2%; float:left; }
.tglkform { border:0px; float:left;  margin-left: 10px; margin-top: 25px !important;}
.tglkform fieldset { border:0px; width:450px; /*background-color:#9C3;*/}
.maps{ width:422px; height:auto;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; }

.icon-rotate{  width:18px; height:15px; margin-left:5px; }
.btn{ width:152px; background-color:#ff632e; height:32px; margin-top:10px; margin-bottom:30px; text-align:center; padding-top:14px; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color:#ffffff; }

.btn-black{ width:152px; background-color:#000; height:32px; margin-top:10px; margin-bottom:30px; text-align:center; padding-top:14px; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color:#ffffff; }

/* tglk form elements*/
input{ height:61px; width:400px; float:left; margin-bottom:5px; padding-left:20px !important;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; border-radius: 11px; background-color:#f7f7f7; border:none; }
textarea{ height:110px; width:400px; float:left; margin-bottom:5px; resize: none; padding-left:20px !important; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; border-radius: 11px !important; border:none; background-color:#f7f7f7; padding-top:20px;}
.tglk-icn-date{ margin-left:5px; float:left; padding-top:20px; }







* {
outline: none;
}
.select-box select {background: transparent !important; background:none !important; background-position: 5% 50%; height:61px; width:414px; padding: 5px; font-size: 14px; line-height: 1;
border: 0; border-radius: 0; -webkit-appearance: none; outline: none; color:#666666!important; padding-left:12px;}

.select-box { height:61px;  width:414px !important; overflow: hidden; background-image: url(images/icn-down-arrow.png); background-repeat: no-repeat; background-position: 95% 54%;border-radius: 3px 5px 5px 3px; padding-right:7px; outline: none; line-height:10px !important; /*background-position: 95% 50%;*/ background-color: #f7f7f7;
color:#bababa !important; border-radius:11px !important; -webkit-border-radius:11px !important; -moz-border-radius: 11px !important;}

.select-box select { padding-right: 0; vertical-align: bottom!important; text-align: left; height: auto; line-height: 1em; height:61px; /*color:#bababa !important;*/ width:105% !important;
border-radius:11px !important; -webkit-border-radius:11px !important; -moz-border-radius: 11px !important;}


.select-box select option{ padding-top:5px; color:#bababa !important;}

/*helper class*/
.clear{ clear:both !important;}
.f-left{ float:left !important;}
.f-right{ float:right !important;}
.pd-bottom{ padding-bottom:100% !important;}
.pd-top{ padding-top:5px !important;}
.bg-orange{ background-color: #ff632e;}
.margin-balance{ margin-left:auto; margin-right:auto; width:200px; height:100px;}
.word-wrap{ word-wrap:normal;}
/*.padding-space{padding-top: 150px; padding-bottom:70px; }*/


.btn-add-more-location {
    background-color: #ff632e;
    border-radius: 11px !important;
    color: #fff;
    cursor: pointer;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 20px;
    text-align: left;
    width: 402px;
	padding-left:20px;
}


.btn-add-sub-contact {
    background-color: #000000;
    border-radius: 11px !important;
    color: #fff;
    cursor: pointer;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 20px;
    text-align: left;
    width: 402px;
	padding-left:20px;
}

.btn-add-sub{ height:40px; width:400px; float:left; margin-bottom:5px; padding-left:20px !important;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; border-radius: 11px; background-color:#ff632e; border:none; padding-top:20px; cursor:pointer; }

/*calendar*/

.calendar { font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif; font-size: 0.9em;  background-color: #EEE; color: #333; border: 1px solid #DDD; -moz-border-radius: 4px;
			-webkit-border-radius: 4px; border-radius: 4px; padding: 0.2em; width: 14em;}
.calendar .months { background-color: #ff632e; border: 1px solid #E78F08; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; color: #FFF; padding: 0.2em; text-align: center;}
.calendar .prev-month,.calendar .next-month { padding: 0;}
.calendar .prev-month { float: left; }
.calendar .next-month {float: right;}
.calendar .current-month { margin: 0 auto;}
.calendar .months .prev-month, .calendar .months .next-month { color: #FFF; text-decoration: none; padding: 0 0.4em; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; cursor: pointer; }
.calendar .months .prev-month:hover, .calendar .months .next-month:hover { background-color: #FDF5CE; color: #C77405; }
.calendar table { border-collapse: collapse; padding: 0; font-size: 0.8em; width: 100%;}
.calendar th { text-align: center;}
.calendar td { text-align: right; padding: 1px; width: 14.3%; }
.calendar td span { display: block; /*color: #1C94C4;*/ background-color: #F6F6F6; border: 1px solid #CCC; text-decoration: none; padding: 0.2em; cursor: pointer; }
.calendar td span:hover { color: #C77405; background-color: #FDF5CE; border: 1px solid #FBCB09; }
.calendar td.today span { background-color: #ff632e; border: 1px solid #FED22F; color: #ffff;}
		





.label-location{ height:60px; width:400px; background-color:#999; margin-top:33px; margin-bottom:10px; border-radius:9px; -webkit-border-radius: 9px;
-moz-border-radius: 9px; }
.label-location{ position: relative; color: #EEE; font-size: 15px;  display: inline-block; text-align:left;  color:#000; line-height: 58px; border-radius: 11px;  -webkit-border-radius: 11px;  -moz-border-radius: 11px; background-color: #283957; padding-left:20px !important; background-color:#ffddd3;  height:60px; }
.closeButton {  display:block; position:absolute; right: 6px; top: 17px;  width:27px;  height:27px; background: url(images/btn-close.png) no-repeat center center;}
#add-location{ background-color:#ff632e; color:#000;  }


/*tag item page menu*/
.tglk-layout-menu{ width: 425px; background-color:#f7f7f7; height:62px; margin-left: 15.2%; margin-top:78px; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important;  }
.btn-menu{ float: left; padding-top: 23px; text-align:center; width: 141px; color:#999999;  padding-bottom: 18px; }
.btn-menu:hover{ padding-top: 21px; padding-bottom: 21px; text-align:center; width: 141px; color:#000000; background-color:#ff632e; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; }
.btn-menu-selected{ padding-top: 21px; padding-bottom: 21px; text-align:center; width: 141px; color:#000000; background-color:#ff632e; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; }




/*login page css*/
.tglk-login-bg{ background-color:#ff632e;}
.tglk-login-logo{ margin-left:auto; margin-right:auto; width: 132px; padding-top: 150px !important; padding-bottom:70px !important;}

/*login page input*/

#tglk-login-form-container form { margin-left: auto; margin-right: auto; width:385px; }
.login-input {  background-color: #ffffff !important; border: medium none; height: 61px; margin-bottom:1px; border-radius: 25px; width: 350px; margin-left: auto;  margin-right: auto;
border-top-left-radius:11px !important; border-top-right-radius:11px !important; border-bottom-right-radius:0px!important; border-bottom-left-radius:0px!important; font-size: 14px; color:#fc5821;}

.login-password {  background-color: #ffffff !important; border: medium none; height: 61px; margin-bottom: 5px; border-radius: 25px; width: 350px; margin-left: auto;  margin-right: auto;
border-top-left-radius:0px !important; border-top-right-radius:0px !important; border-bottom-right-radius:11px!important; border-bottom-left-radius:11px!important; font-size: 14px; color:#fc5821; background-image:url(images/icn-question.png);  background-position: 325px 23px; background-repeat:no-repeat;   }


.btn-login{ width:152px; background-color:#000; height:50px; margin-top:10px; text-align:center; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color:#FFF; padding-left:4px !important; font-size:14px; }
.tglk-forgot-password{ padding-left:34px; padding-top:20px; float:left; font-size:14px; color:#fff;}

.btn-signup{ width:192px; background-color:#fff; height:50px; margin-top:10px; text-align:center; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color:#fc5821; padding-left:4px !important; font-size:14px; }
.tglk-forgot-password{ padding-left:34px; padding-top:28px; float:left; font-size:14px; color:#fff;}
.not-registered{ margin-left:auto; margin-right:auto; padding-top:70px;  width: 140px; color:#FFF;}
.tglk-btn-margin{ margin-left:auto; margin-right:auto;    }






/*event-page css*/
.tglk-btn-add-event{ width:233px; background-color:#ff632e; height:25px; margin-top:19px; text-align:center; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color: #000000; padding-left:4px !important; padding-top:15px; font-size:15px; padding-bottom:11px;  }
.tglk-event-container{ height: auto; width:100%; border-bottom:1px solid #eaeaea;  width:89%; margin-left:5%; margin-right:5%; }
.event-detail{ width:33%; /*background-color:#99F;*/ padding-bottom: 4px; }
.event-date{ width:33%; /*background-color: #9CF*/; font-size:13px; text-align:center; padding-top:30px; color: #999999;}
.event-options{ width:33%; /*background-color: #9CC;*/ float:left !important; text-align:right; font-size: 14px; padding-top: 13px;}
.event-img{ float:left; padding-top:10px; padding-right:10px;}
.event-content{float:left; width:69%;}
.event-title{ padding-top:10px;}
.event-txt{ font-size:13px; padding-top:5px; }
.btn-option{ float:right; padding:13px;  color: #ff632e; cursor:pointer; }
.pageination{ margin-left:auto; margin-right:auto; height:40px; margin-top:30px; margin-bottom:30px; width:34%}
.numbers{ width:10%; height:30px; float:left; background-color:#ebebeb; text-align:center; padding-top:20px; margin-right:1px;}
.numbers:hover{ width:10%; height:30px; float:left; background-color:#ff632e; text-align:center; padding-top:20px; color:#ffffff;  margin-right:1px;}
.numbers-selected{ width:10%; height:30px; float:left; background-color:#ff632e; text-align:center; padding-top:20px; color:#ffffff;  margin-right:1px;}


/*device-page css*/
.beacon-title{ padding-top:27px;}
.beacon-type{ width:33%; /*background-color: #9CF*/; font-size:13px; text-align:center; padding-top:30px; color: #999999;}
.beacon-options{ width:33%; /*background-color: #9CC;*/ float:left !important; text-align:right; font-size: 14px; padding-top: 13px;}


/*promotion-page css*/
.tglk-btn-add-promo{ width:233px; background-color:#ff632e; height:25px; margin-top:19px; text-align:center; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color: #ffffff; padding-left:4px !important; padding-top:15px; font-size:15px; padding-bottom:11px;  }


/*location page css*/
.tglk-location-logo{ margin-left:auto; margin-right:auto; width: 320px; padding-top: 35px !important; padding-bottom:5px !important;}
.tglkform-location { border:0px; /*float:left;*/  margin-left: 10px; margin-top: 25px !important; width: 485px !important; margin-left:auto; margin-right:auto;}
.fieldset-location{ border:none !important;}
.btn-location {
    background-color: #000;
    border-radius: 11px !important;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 14px;
    text-align: center;
    width: 152px;
}

.label-location
{
    position: relative;
    color: #EEE;
    font-size: 15px;
    
    display: inline-block;
	text-align:left; 
	color:#000;
	line-height: 58px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    background-color: #283957;
    
	padding-left:20px !important;
	background-color:#ffddd3;
    height:60px; 
	width:400px;
}
.closeButton
{
    display:block;
    position:absolute;
    right: 6px;
    top: 17px;
    width:27px;
    height:27px;
    background: url(images/btn-close.png) no-repeat center center;
}


#add-location{ background-color:#ff632e; color:#000;}
.border-bottom{ border-bottom:1px solid #CCC; width:422px;}
.maps-location{ width:420px; height:auto;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; }


.cd-popup-container {
  position: relative;
  
  width: 95% !important;
  max-width: 460px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

#tglk-main-header { background-color: #ff632e; padding: 27px 0 27px 0;  width:100%; }
#tglk-main-header .tglk-logo{ margin-left:13%; }

#tglk-main-header .tglk-main-menu{ float:left; /*background-color:#C03;*/ width:auto; padding-right:5%;  float: left; padding-left: 2%; width: 295px; font-size:.9em;}
#tglk-main-header .tglk-main-menu ul{ padding:0px; margin:0px;}
#tglk-main-header .tglk-main-menu li{ float: left; /*background-color: #9F3;*/ padding-top: 30px; text-align:center; cursor:pointer; font-size: 1em; padding-left:23px; }
#tglk-main-header .tglk-main-menu li:hover{ float: left; padding-top: 30px; text-align:center; cursor:pointer; background-image:url(images/web-icon-hover.png);	background-repeat:no-repeat; color:#ffffff;  font-size: 1em; padding-left:23px; background-position: 60% 20%;   }
.tglk-border-bottom{ border-bottom:1px solid #eaeaea; height:35px; width:89%; margin-left:5%; margin-right:5%;}
.tglk-sub-header{ font-size:.9em; color:#000; margin-left:5%; padding-top:2%;}
.tglk-profile-img{ width:50%; margin-left:5%; padding-top:5%; }

/* tglk form elements*/
.tglkform { border:0px;  margin-left:0px; margin-top: 15px;}
.tglkform fieldset { border:0px;/* background-color:#0CC; */width: 276px;}
input{ height:61px; width:230px; float:left; margin-bottom:5px; padding-left:16px !important;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; border-radius: 11px; background-color:#f7f7f7; border:none;  }
.tglk-icn-date{ margin-left:2%;  }

textarea{ height:130px; width:225px; float:left; margin-bottom:5px; resize: none; padding-left:20px !important; padding-top:10px; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; border:none; background-color:#f7f7f7;}

.maps{ width:253px; height:auto;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; }
.icon-rotate{  width:18px; height:15px; }
.btn{ width:100px; background-color:#ff632e; height:32px; margin-top:10px; margin-bottom:30px; text-align:center; padding-top:14px; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color:#FFF; }
#add-sub-content{  background-color: #000; width:400px; height:60px; cursor:pointer; color:#FFF; }


.select-box select {
background: transparent !important;
background:none !important;
background-position: 5% 50%; 
height:61px; 
width:240px;
padding: 5px;
font-size: 12px;
line-height: 1;
border: 0;
border-radius: 0;
-webkit-appearance: none;
outline: none;

}
 
.select-box {
height:61px; 
width:240px !important;
overflow: hidden;
background-image: url(images/icn-down-arrow.png);
background-repeat: no-repeat;
background-position: 95% 54%;
border-radius: 3px 5px 5px 3px;
padding-right:7px;
outline: none;
line-height:10px !important;
/*background-position: 95% 50%;*/
background-color: #f7f7f7;
color:#bababa !important;
border-radius:11px !important;
-webkit-border-radius:11px !important;
-moz-border-radius: 11px !important;

}
 
.select-box select {
padding-right: 0;
vertical-align: bottom!important;
text-align: left;
height: auto;
line-height: 1em;
height:61px;
color:#bababa !important;
width:117% !important;
border-radius:11px !important;
-webkit-border-radius:11px !important;
-moz-border-radius: 11px !important;


}



.tglk-layout-menu{ 

    background-color: #f7f7f7;
    border-radius: 11px !important;
    height: 47px;
    margin-left: 5%;
    margin-top: 26px;
    width: 292px;}
	
	
.btn-menu { color: #999999; float: left;  padding-bottom: 9px; padding-top: 16px;  text-align: center; width: 96px; font-size:12px; }
.btn-menu:hover{ padding-top: 16px; padding-bottom: 15px; text-align:center; width: 96px; color:#000000; background-color:#ff632e; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; font-size:12px; }
.btn-menu-selected{ padding-top: 16px; padding-bottom: 15px; text-align:center; width: 96px; color:#000000; background-color:#ff632e; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; font-size:12px; }



.label-location{ height:60px; width:230px; background-color:#999; margin-top:33px; margin-bottom:10px; border-radius:9px; -webkit-border-radius: 9px;
-moz-border-radius: 9px; }



.label-location
{
    position: relative;
    color: #EEE;
    font-size: 15px;
    
    display: inline-block;
	text-align:left; 
	color:#000;
	line-height: 58px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    background-color: #283957;
    
	padding-left:20px !important;
	background-color:#ffddd3;
    height:60px; 
	
}
.closeButton
{
    display:block;
    position:absolute;
    right: 6px;
    top: 17px;
    width:27px;
    height:27px;
    background:url(images/btn-close.png) no-repeat center center;
}

#add-location{ background-color:#ff632e; color:#000;  }

/*login page css*/
.tglk-login-bg{ background-color:#ff632e;}
.tglk-login-logo{ margin-left:auto; margin-right:auto; width:132px; padding-top: 15px !important; padding-bottom:20px !important;}

/*login page input*/

#tglk-login-form-container{ margin-left: auto; margin-right: auto; background-color:#ff632e; padding:20px;}
#tglk-login-form-container-b{ margin-left: auto; margin-right: auto;  padding:20px;}
#tglk-login-form-container form { margin-left: auto; margin-right: auto; width:250px; }
#tglk-login-form-container-b form { margin-left: auto; margin-right: auto; width:250px; }
.login-input {  background-color: #ffffff !important; border: medium none; height: 61px; margin-bottom:1px; border-radius: 25px; width: 230px; margin-left: auto;  margin-right: auto;
border-top-left-radius:11px !important; border-top-right-radius:11px !important; border-bottom-right-radius:0px!important; border-bottom-left-radius:0px!important; font-size: 12px; color:#fc5821;}

.login-password {  background-color: #ffffff !important; border: medium none; height: 61px; margin-bottom: 5px; border-radius: 25px; width: 230px; margin-left: auto;  margin-right: auto;
border-top-left-radius:0px !important; border-top-right-radius:0px !important; border-bottom-right-radius:11px!important; border-bottom-left-radius:11px!important; font-size: 12px; color:#fc5821; background-image:url(images/icn-question.png);  background-position: 208px 23px; background-repeat:no-repeat;   }


.btn-login{ width:100px; background-color:#000; height:32px; margin-top:10px; text-align:center; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color:#FFF; padding-left:4px !important; }
.tglk-forgot-password{ padding-left:34px; padding-top:20px; float:left; font-size:13px; color:#fff;}

.btn-signup{ width:100px; background-color:#fff; height:32px; margin-top:10px; text-align:center; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color:#fc5821; padding-left:4px !important; font-size:12px; }
.tglk-forgot-password{ padding-left:34px; padding-top:20px; float:left; font-size:13px; color:#fff;}
.not-registered{ margin-left:auto; margin-right:auto; padding-top:70px;  width: 140px; color:#FFF;}
.tglk-btn-margin{ margin-left:auto; margin-right:auto;  width: 121px;  }

/*event-page css*/
.tglk-btn-add-event{ width:139px; background-color:#000; height:15px; margin-top:19px; text-align:center; border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px !important; cursor:pointer; color: #ff632e; padding-left:10px !important; padding-right:10px !important; padding-top:10px; font-size:11px; padding-bottom:10px;  }
.tglk-event-container{ height: auto; width:100%; border-bottom:1px solid #eaeaea;  width:89%; margin-left:5%; margin-right:5%; }
.event-detail{ width:33%; /*background-color:#99F;*/ padding-bottom: 4px; float:none !important; }
.event-date{ width:337px; /*background-color: #9CF*/; font-size:11px; text-align:center; padding-top:4px !important; color: #999999; float:none !important;}
.event-options{ width:222px; /*background-color: #9CC;*/ float:left !important; text-align:right; font-size: 13px; padding-top:3px;}
.event-img{ float:left; padding-top:10px; padding-right:10px;}
.event-content{float:none; width:300%;}
.event-title{ padding-top:10px;}
.event-txt{ font-size:13px; padding-top:5px; }
.btn-option{ float:right; padding:13px;  color: #ff632e; cursor:pointer; }
.pageination{ margin-left:auto; margin-right:auto; height:40px; margin-top:30px; margin-bottom:30px; width:250px;}
.numbers{ width:10%; height:30px; float:left; background-color:#ebebeb; text-align:center; padding-top:20px; margin-right:1px;}
.numbers:hover{ width:10%; height:30px; float:left; background-color:#ff632e; text-align:center; padding-top:20px; color:#ffffff;  margin-right:1px;}
.tglk-border-bottom-b{ border-bottom:1px solid #eaeaea; height:70px; width:89%; margin-left:5%; margin-right:5%; padding-bottom: 20px;}




/*device-page css*/
.beacon-title{ padding-top:9px;}
.beacon-type{ width:auto; /*background-color: #9CF*/; font-size:13px; text-align:center; padding-top:0px; color: #999999;}
.beacon-options{ width:266px !important; /*background-color: #9CC;*/ float:left !important; text-align:right; font-size: 13px !important; padding-top: 0px;}


/*location-page css*/

.tglk-location-logo {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
    width: 268px !important;
	
}

.btn-location {
    background-color: #000;
    border-radius: 11px !important;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 14px;
    text-align: center;
    width: 120px;
}



.label-location
{
    position: relative;
    color: #EEE;
    font-size: 15px;
    
    display: inline-block;
	text-align:left; 
	color:#000;
	line-height: 58px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    background-color: #283957;
    
	padding-left:20px !important;
	background-color:#ffddd3;
    height:60px; 
	width:230px !important;
}
.closeButton
{
    display:block;
    position:absolute;
    right: 6px;
    top: 17px;
    width:27px;
    height:27px;
    background: url(images/btn-close.png) no-repeat center center;
}
.border-bottom{ border-bottom:1px solid #CCC; width:252px;}
.btn-add-more-location {
    background-color: #ff632e;
    border-radius: 11px !important;
    color: #fff;
    cursor: pointer;
    height: 32px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 14px;
    text-align: left;
    width: 230px;
	padding-left:20px;
}

.maps-location{ width:230px; height:auto;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; }

.cd-popup-container {
  position: relative;
  
  width: 95% !important;
  max-width: 440px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-add-sub{ height:40px; width:230px; float:left; margin-bottom:5px; padding-left:20px !important;  border-radius:11px !important; -webkit-border-radius: 11px !important; -moz-border-radius: 11px; border-radius: 11px; background-color:#ff632e; border:none; padding-top:20px; cursor:pointer; }

}
/* Smartphones (portrait and landscape) ----------- */
/* end of style*/



/*calendar*/

.calendar { font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif; font-size: 0.9em;  background-color: #EEE; color: #333; border: 1px solid #DDD; -moz-border-radius: 4px;
			-webkit-border-radius: 4px; border-radius: 4px; padding: 0.2em; width: 14em;}
.calendar .months { background-color: #ff632e; border: 1px solid #E78F08; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; color: #FFF; padding: 0.2em; 
                    text-align: center;}
.calendar .prev-month,.calendar .next-month { padding: 0;}
.calendar .prev-month { float: left; }
.calendar .next-month {float: right;}
.calendar .current-month { margin: 0 auto;}
.calendar .months .prev-month, .calendar .months .next-month { color: #FFF; text-decoration: none; padding: 0 0.4em; -moz-border-radius: 4px; -webkit-border-radius: 4px; 
                                                               border-radius:4px; cursor: pointer; }
.calendar .months .prev-month:hover, .calendar .months .next-month:hover { background-color: #FDF5CE; color: #C77405; }
.calendar table { border-collapse: collapse; padding: 0; font-size: 0.8em; width: 100%;}
.calendar th { text-align: center;}
.calendar td { text-align: right; padding: 1px; width: 14.3%; }
.calendar td span { display: block; /*color: #1C94C4;*/ background-color: #F6F6F6; border: 1px solid #CCC; text-decoration: none; padding: 0.2em; cursor: pointer; }
.calendar td span:hover { color: #C77405; background-color: #FDF5CE; border: 1px solid #FBCB09; }
.calendar td.today span { background-color: #ff632e; border: 1px solid #FED22F; color: #ffff;}
		
		