@font-face {
	font-family: 'caecilia std roman';
	src: url('caecilia_std_roman-webfont.eot');
	src: url('caecilia_std_roman-webfont.eot?#iefix') format('embedded-opentype'),
		url('caecilia_std_roman-webfont.woff') format('woff'),
		url('caecilia_std_roman-webfont.ttf') format('truetype'),
		url('caecilia_std_roman-webfont.svg') format('svg');
}